<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.umn.nicotiana">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nicotiana">
        <activity
            android:name=".JantungActivity"
            android:exported="true"
            android:label="Informasi Penyakit"
            android:parentActivityName=".JenisPenyakitActivity" />
        <activity
            android:name=".DiabetesActivity"
            android:exported="true"
            android:label="Informasi Penyakit"
            android:parentActivityName=".JenisPenyakitActivity" />
        <activity
            android:name=".HipertensiActivity"
            android:exported="true"
            android:label="Informasi Penyakit"
            android:parentActivityName=".JenisPenyakitActivity" />
        <activity
            android:name=".StrokeActivity"
            android:exported="true"
            android:label="Informasi Penyakit"
            android:parentActivityName=".JenisPenyakitActivity" />
        <activity
            android:name=".KankerActivity"
            android:exported="true"
            android:label="Informasi Penyakit"
            android:parentActivityName=".JenisPenyakitActivity" />
        <activity
            android:name=".AboutActivity"
            android:exported="true"
            android:label="About"
            android:parentActivityName=".MainmenuActivity" />
        <activity
            android:name=".BantuanActivity"
            android:exported="true"
            android:label="Bantuan"
            android:parentActivityName=".MainmenuActivity" />
        <activity
            android:name=".BahayaMerokokActivity"
            android:exported="true"
            android:label="Bahaya Merokok"
            android:parentActivityName=".MainmenuActivity" />
        <activity
            android:name=".JenisPenyakitActivity"
            android:exported="true"
            android:label="Jenis Penyakit"
            android:parentActivityName=".MainmenuActivity" />
        <activity
            android:name=".DiagnosaActivity"
            android:exported="true"
            android:label="Diagnosa"
            android:parentActivityName=".MainmenuActivity" />
        <activity
            android:name=".MainmenuActivity"
            android:exported="true"
            android:label="Menu" />
        <activity
            android:name=".SignupActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>